body {
    position: relative;
    background: #efefee;
    min-height: 100%;
}

html {height:100%}

/* NAVIGATION */

.navbar-bg {
    /* background: url(../images/space-nav.jpg); */
    background-size: 80%;
    margin: 5px;
    background: #484848;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom: 10px!important;
}

.dropdown-menu, .dropdown-menu.show {
    right: 0;
}

.space-brand {
    color: #fff;
    font-weight: bold;
}

.nav-profile-img {
    width: 50px;
    /*border: 1px solid #fff;*/
}


/* LOGIN REGISTRATION */

.form-container {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.inactive {
    border-color: lightgray lightgray lightgray;
    background: darkgray;
    color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #efefee;
}

/* ADVERTISEMENT */

.ad-space {
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid green;
}

.advertisement-img {
    width: 150px;
    height: auto;
    border: 2px solid #efefee;
    border-radius: 5px;
}

.advertisement-text {
    font-weight: bold;
}

.quote-space {
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    border-top: 5px solid hotpink;
}

/* ARTICLES */

.main-article {
    border: 2px solid #efefee;
    Background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-article img {
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 5px solid lightblue;
}

.article-container {
    border: 1px solid #efefee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
}

.main-article-link, .article-container a {
    text-decoration: none;
    color: #000;
}

.main-article-link:hover {
    text-decoration: none;
    color: #000;
}

.article-title {
    min-width: 300px;

}

@media (max-width: 440px) {
    .article-title {
        min-width: 100px;
        max-width: 245px;
    }
}

.article-img {
    height: 100px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.article-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.article-details {
    font-size: .8em;
}

/* PROFILE */

.profile-img {
    width: 150px;
    height: auto;
    border: 2px solid #fff;
}

.profile-name {
    font-size: 1.5em;
}

.my-article-container {
    background: #FFBC49;
    border: solid 1px #efefee;
    border-radius: 5px;
}


/* CREATE ARTICLE */

.create-article-container {
    min-width: 400px;
    background-color: lightblue;
    border-radius: 5px;
}

/* ARTICLE SHOW PAGE */

.show-article-container {
    width: 100%;
    background-color: #fff;
}

.show-article-img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.show-article-title {
    font-size: 2em;
}

.like-article, .like-article:hover {
    color: red;
    text-decoration: none;
}

@media (max-width: 991px) {
    .show-article-title {
        font-size: 1.5em;
    }

    .show-article-title-container {
        max-width: 220px;
    }
}

.article-text {
    margin-top: 20px;
}

.share-icons i {
    font-size: 1.5em;
}

.comment-img {
    width: 50px;
    height: auto;
    border: 1px solid darkgray;
}

.commenter-name {
    font-weight: bold;
}

.comment-form {
    min-width: 500px;
}

@media (max-width: 767px) {
    .comment-form {
        min-width: 260px;
    }
}




.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
}

#containerLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

#containerAdmin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

#imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

#formLogin{
    background: white;
    width: 71%;
    height: 54%;
    border-radius: 18px;
    margin: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    justify-content: space-between;
    padding: 10px;
}

#formAdmin{
    background: white;
    width: 99%;
    height: 99%;
    border-radius: 18px;
    margin: auto;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 21px;
    text-align: center;
}

.listDispo{
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: #c6c6c6 1px solid;
    width: 550px;
    margin: auto;
    margin-bottom: 10px;
}

.addDispo{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: #c6c6c6 1px solid;
    width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 0;
}

.addIntervenant{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.chooseDispo{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.end{
    padding: 4px 20px 4px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.begin{
    padding: 4px 20px 4px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete{
    margin-right: 5px;
    background-color: #e69000;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 23px;
    font-weight: bold;
}

.deleteAdmin{
    margin-right: 5px;
    background-color: #e69000;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 6px 6px 0px;
    font-weight: bold;
}

.weekend{
    background-color: gray;
    cursor: auto;
}

.daySemaine{


}

.deleteIcon {
    background-color: white;
    color: #e69000;
    border-radius: 50px;
    padding: 4px;
    margin-left: 6px;
}

.ajouter{
    margin-right: 5px;
    background-color: #0073e0;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 23px;
    font-weight: bold;
}

.ajouterIcon {
    background-color: white;
    color: #0073e0;
    border-radius: 50px;
    padding: 4px;
    margin-left: 6px;
}

.titleAdmin {
    padding: 0px 2px 13px 2px;

}

#imageLogin{
    max-width: 100%;
    height: auto;
}

#form {
    width: 50%;
    max-width: 600px;
    min-width: 370px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center
}

@media only screen and (max-width: 1060px) {
    #formLogin{
        width: 98%;
    }
}

@media only screen and (max-width: 760px) {
    #formLogin{
        height: 80%;
        flex-direction: column;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        justify-content: center;
        align-items: center;
    }

    #form {
        width: 87%;
        max-width: 600px;
        min-width: 370px;
        height: 100%;
        max-height: 438px;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.formGroup{
    width: 73%;
}


/*Month*/

#corps {
    width: 100%;
    height: 100%;
    padding: 12px;
}

table.table {
    background: white;
    border-radius: 15px;
}

tr.column1 {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
}

tr.column2 {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
    background: whitesmoke;
}

tr.hourColumn {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 0.3;
    background: #e0e0e0;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px ;
}


tbody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.monthDays{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.TopMonth{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #888888;
}

th {
    flex-grow: 1;
    text-align: center;
    background: #3a3a3a;
    color: white;
    font-size: 14px;
    max-height: 52px;
    padding: 15px;
}

.table td {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 78px;
    padding: 5px;
}

.table button {
    padding: 0;
    text-align: right;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

button.red {
    background-color: #dd0808;
    /* padding: 10px; */
    border-radius: 70px;
    text-align: center;
    width: 36px;
    height: 36px;
}


.salle {
    flex-grow: 1;
    text-align: right;
}

.professor{
    flex-grow: 1;
    text-align: left;
}

.matiere {
    flex-grow: 1;

}

.up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.down {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #464646;
}

td.hour {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.hour {
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerNavCalendar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#choice {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 40px;
    margin: 12px;
    cursor: pointer;
}

td.days {
    min-height: 31px;
}

button.days {
    min-height: 31px;
}

.buttonNav {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: white;
    border: 2px solid #c7c7c7;
    display: flex;
}

.arrowNav {
    border-radius: 50px;
    border: none;
}

td.intitule {
    min-height: 27px;
    font-size: 10px;
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
    border-left: 1px solid #b2b2b2;
    /*background-color: #0095ff;*/
}

button.intitule {
    min-height: 27px;
    font-size: 10px;
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
    border-left: 1px solid #b2b2b2;
    /*background-color: #0095ff;*/
}

.weeks {
    font-size: 11px;
    padding: 0;
    width: 100%;
    margin: 1px;
}

.months {
    font-size: 11px;
    padding: 0;
    width: 100%;
    margin: 1px;
    text-align: center;
    background-color: #2859a4;
    font-weight: bold;
    color: white;
    padding: 2px;
}

.grey {
    background-color: #a6a6a6;
}

th.month {
    font-size: 12px;
}

.schoolNumber {
    font-size: 10px;
    flex-grow: 1;
    font-weight: bold;
    background-color: #0095ff;
    color: white;
    text-align: center;
    border-radius: 200px;
    max-width: 17px;
}

.enterpriseNumber {
    font-size: 10px;
    flex-grow: 1;
    font-weight: bold;
    background-color: #ff8100;
    color: white;
    text-align: center;
    border-radius: 200px;
    max-width: 17px;
}

.noneNumber {
    font-size: 10px;
    flex-grow: 1;
    font-weight: bold;
    background-color: #ff8100;
    color: white;
    text-align: center;
    border-radius: 200px;
    max-width: 17px;
}

.matiereCat {
    font-size: 10px;
    flex-grow: 1;
    text-align: center;
}

.jour {

}