{% extends 'base.html.twig' %}

{% block title %}Gestion de planning{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

{% block body %}
    <div id="containerAdmin">

    </div>
{% endblock %}