{% extends 'base.html.twig' %}

{% block title %}Planning Mois{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        html {
            font-family: sans-serif;
        }
        table {
            border-collapse: collapse;
            letter-spacing: 1px;
            font-size: 0.8rem;
            background: white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
        td, th {
            padding: 10px 20px;
        }
        td {
            text-align: center;
        }
        caption {
            padding: 10px;
        }

    </style>

    <div id="corps">
        <div id="containerNavCalendar">

            <button class="buttonNav arrowNav" onclick="document.location.href='/month/';">
                <i class="material-icons">
                    undo
                </i>
                <div>
                    &nbsp;Précédent
                </div>
            </button>
            <div id="choice">
                <button class="buttonNav" onclick="document.location.href='/week/'">Semaine</button>
                <button class="buttonNav" onclick="document.location.href='/month/'">Mois</button>
                <button class="buttonNav">Année</button>
            </div>

            <button class="buttonNav arrowNav" onclick="document.location.href='/month/';">
                <div>
                    Suivant &nbsp;
                </div>
                <i class="material-icons">
                    redo
                </i>
            </button>
        </div>


        <table class="table">
            <tr class="hourColumn">
                <th>2019</th>
                <td class="hour">
                    <div>Sem. 43</div>
                </td>
                <td class="hour">
                    <div>Sem. 44</div>
                </td>
                <td class="hour">
                    <div>Sem. 45</div>
                </td>
                <td class="hour">
                    <div>Sem. 46</div>
                </td>
                <td class="hour">
                    <div>Sem. 47</div>
                </td>
                <td class="hour">
                    <div>Sem. 48</div>
                </td>
            </tr>

            <tr class="column1">
                <th>Lundi</th>
                <td>
                    <div class="TopMonth">2 Sept. 2019</div>
                    <div class="monthDays">
                        ENTREPRISE &nbsp;&nbsp;
                        {%  if  "ENTREPRISE"=="ENTREPRISE" %}
                        <i class="material-icons">
                            business
                        </i>
                        {%  else %}
                        <i class="material-icons">
                            school
                        </i>
                        {%  endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">9 Sept. 2019</div>
                    <div class="monthDays">
                        ECOLE &nbsp;&nbsp;
                        {%  if  "ENTREPRISE"=="ENTREPRISE" %}
                            <i class="material-icons">
                                school
                            </i>
                        {%  else %}
                            <i class="material-icons">
                                business
                            </i>
                        {%  endif %}
                    </div>
                </td>
                <td>
                    <div class="down"></div>
                    ECOLE
                </td>
                <td>
                    <div class="down"></div>
                    ECOLE
                </td>
                <td>
                    <div class="down"></div>
                    ENTREPRISE
                </td>
                <td>
                    <div class="down"></div>
                </td>
            </tr>

            <tr class="column2">
                <th>Mardi</th>
                <td>
                    <div class="TopMonth">3 Sept. 2019</div>
                    <div class="monthDays">
                        ENTREPRISE &nbsp;&nbsp;
                        {%  if  "ENTREPRISE"=="ENTREPRISE" %}
                            <i class="material-icons">
                                business
                            </i>
                        {%  else %}
                            <i class="material-icons">
                                school
                            </i>
                        {%  endif %}
                    </div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
            </tr>

            <tr class="column1">
                <th>Mercredi</th>
                <td>
                    <div class="TopMonth">4 Sept. 2019</div>
                    <div class="monthDays">
                        ENTREPRISE &nbsp;&nbsp;
                        {%  if  "ENTREPRISE"=="ENTREPRISE" %}
                            <i class="material-icons">
                                business
                            </i>
                        {%  else %}
                            <i class="material-icons">
                                school
                            </i>
                        {%  endif %}
                    </div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
            </tr>

            <tr class="column2">
                <th>Jeudi</th>
                <td>
                    <div class="TopMonth">5 Sept. 2019</div>
                    <div class="monthDays">
                        ENTREPRISE &nbsp;&nbsp;
                        {%  if  "ENTREPRISE"=="ENTREPRISE" %}
                            <i class="material-icons">
                                business
                            </i>
                        {%  else %}
                            <i class="material-icons">
                                school
                            </i>
                        {%  endif %}
                    </div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
            </tr>

            <tr class="column1">
                <th>Vendredi</th>
                <td>
                    <div class="TopMonth">6 Sept. 2019</div>
                    <div class="monthDays">
                        ENTREPRISE &nbsp;&nbsp;
                        {%  if  "ENTREPRISE"=="ENTREPRISE" %}
                            <i class="material-icons">
                                business
                            </i>
                        {%  else %}
                            <i class="material-icons">
                                school
                            </i>
                        {%  endif %}
                    </div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
                <td>
                    <div class="down"></div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
