{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    html {
        font-family: sans-serif;
    }
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
        letter-spacing: 1px;
        font-size: 0.8rem;
    }
    td, th {
        border: 1px solid rgb(190,190,190);
        padding: 10px 20px;
    }
    td {
        text-align: center;
    }
    caption {
        padding: 10px;
    }
</style>

<div>
    <h1>School timetable</h1>

    <table>
        <tr>
            <td>&nbsp;</td>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thurs</th>
            <th>Fri</th>
        </tr>
        <tr>
            <th>9h</th>
            <td>English</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>German</td>
            <td>Dutch</td>
        </tr>
        <tr>
            <th>10h</th>
            <td>English</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>German</td>
            <td>Dutch</td>
        </tr>
        <tr>
            <th>11h</th>
            <td>&nbsp;</td>
            <td>German</td>
            <td>&nbsp;</td>
            <td>German</td>
            <td>Dutch</td>
        </tr>
        <tr>
            <th>12h</th>
            <td>&nbsp;</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>English</td>
            <td>Dutch</td>
        </tr>
        <tr>
            <th>13h</th>
            <td>&nbsp;</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>English</td>
            <td>Dutch</td>
        </tr>
        <tr>
            <th>14h</th>
            <td>&nbsp;</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>English</td>
            <td rowspan="3">Dutch</td>
        </tr>
        <tr>
            <th>15h</th>
            <td>&nbsp;</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>English</td>

        </tr>
        <tr>
            <th>16h</th>
            <td>&nbsp;</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>English</td>

        </tr>
        <tr>
            <th>17h</th>
            <td>&nbsp;</td>
            <td>English</td>
            <td>&nbsp;</td>
            <td>English</td>
            <td>Dutch</td>
        </tr>
    </table>
</div>
{% endblock %}
